.bb{
 width: 400px;
 height: 20px; 
 
   
}

.cc{
    width: 70px;
    height: 30px;
    margin-left: 50px;
    border-radius: 50px;
    background-color: rgb(255, 0, 106);
    border: none;
    color: white;
    
    
}

.cc:hover{
   box-shadow: 0px 0px 30px rgb(255, 81, 0);
   cursor: pointer;
}

.cc:active{
    background-color: rgb(255, 157, 0);
    color: white;
}

.dd{
    width: 70px;
    height: 30px;
  
    border-radius: 50px;
    background-color: rgb(0, 72, 255);
    border: none;
    color: white;
    
}

.dd:hover{
    background-color: white;
    color:rgb(0, 72, 255);
    cursor: pointer;
}

.dd:active{
    color: white;
    background-color: blue;
}

.ee{
    width: 70px;
    height: 30px;
    
    border-radius: 50px;
    background-color: rgb(0, 0, 0);
    border: none;  
    color: white;
  
}

.ee:hover{
    box-shadow: 10px 10px 0px rgb(1, 198, 247);
    cursor: pointer;
}

.ee:active{
    box-shadow: 10px 0px 0px rgb(255, 0, 0);
}

.ff{
     width: 70px;
    height: 30px;
    
    border-radius: 50px;
    background-color: rgb(255, 0, 0);
    border: none;
    color: white;
    
}

.ff:hover{
    opacity: 0.3;
    cursor: pointer;
}

.ff:active{
    opacity: 1;
}

.gg{
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
}

.hh{
    text-align: center;
}

.ii{
    width: 100px;
}

.jj{
    width: 100px;
}

.kk{
    width: 100px;
}

.ll{
    width: 100px;
}

.mm{
    width: 100px;
}

.wallpapers{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
   column-gap: 5px;
   row-gap: 5px;
}

.nn{
    text-align: center;
}

.proffesion{
    font-family: Arial, Helvetica, sans-serif;
}

.za{
    width: 100px;
    margin-left: 170px;
}

.bm{
    position: fixed;
    background-color: purple;
    width: 1600px;
    height: 50px;
    top: 0px;
    left: 0px;
    right: 0px;
}

.forth{
    text-align: center;
    font-size: 20px;
}

.welcome{
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: purple;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 60px;
}

.works{
    width: 100px;
}

.workss{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    row-gap: 5px;
    column-gap: 5px;
}

.watch{
    font-size: 15px;

}

.ending{
    width: 180px;
}

.hah{
    margin-left: 10px;
    margin-top: 10px;
}

.last{
   margin-top: 0;
}

.suu{
   margin-bottom: 0;
}

.lambo{
    text-align: center;
    font-size: 20px;
    margin-bottom: 0;
}

.tnx{
    font-size: 15px;
}

body{

}

.utube{
   
}

.uvideo{
    width: 400px;
    height: 200px;
}

.laa{
    margin-top: 0;
    text-align: center;
    font-size: 20px;
}