.bb{
    margin-bottom: 0px;
 
   
}

.buttonholder a{
    color: white;
    text-decoration: none;
}

.cc{
    width: 70px;
    height: 30px;
    
    border-radius: 50px;
    background-color: rgb(255, 0, 106);
    border: none;
    color: white;
    
    
}

.cc:hover{
   box-shadow: 0px 0px 30px rgb(255, 81, 0);
   cursor: pointer;
}

.cc:active{
    background-color: rgb(255, 157, 0);
    color: white;
}

.dd{
    width: 70px;
    height: 30px;
  
    border-radius: 50px;
    background-color: rgb(0, 72, 255);
    border: none;
    color: white;
    
}

.dd:hover{
    background-color: white;
    color:rgb(0, 72, 255);
    cursor: pointer;
}

.dd:active{
    color: white;
    background-color: blue;
}

.ee{
    width: 70px;
    height: 30px;
    
    border-radius: 50px;
    background-color: rgb(0, 0, 0);
    border: none;  
    color: white;
  
}

.ee:hover{
    box-shadow: 10px 10px 0px rgb(1, 198, 247);
    cursor: pointer;
}

.ee:active{
    box-shadow: 10px 0px 0px rgb(255, 0, 0);
}

.ff{
     width: 70px;
    height: 30px;
    
    border-radius: 50px;
    background-color: rgb(255, 0, 0);
    border: none;
    color: white;
    
}

.ff:hover{
    opacity: 0.3;
    cursor: pointer;
}

.ff:active{
    opacity: 1;
}

.gg{
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
}

.hh{
    text-align: center;
}

.ii{
    width: 100px;
}

.jj{
    width: 100px;
}

.kk{
    width: 100px;
}

.ll{
    width: 100px;
}

.mm{
    width: 100px;
}

.wallpapers{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
   column-gap: 5px;
   row-gap: 5px;
}

.nn{
    text-align: center;
}

.proffesion{
    font-family: Arial, Helvetica, sans-serif;
}

.za{
    width: 100px;
    margin-left: 350px;
    margin-top: 10px;
}

.bm{
    position: fixed;
    background: linear-gradient(#a109e2, #640a85, rgb(123, 8, 67));
    width: 1600px;
    height: 70px;
    top: 0px;
    left: 0px;
    right: 0px;
}

.forth{
    text-align: center;
    font-size: 20px;
}

.welcome{
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: purple;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 60px;
}

.works{
    width: 100px;
}

.workss{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    row-gap: 5px;
    column-gap: 5px;
}

.watch{
    font-size: 15px;

}

.ending{
    width: 100px;
}

.hah{
    margin-left: 10px;
    margin-top: 10px;
}

.last{
   margin-top: 0;
}

.suu{
   margin-bottom: 0;
   margin-top: 15px;
}

.lambo{
    text-align: center;
    font-size: 20px;
    margin-bottom: 0;
}

.tnx{
    font-size: 15px;
}

body{
    padding-top: 20px;
    padding-left: 100px;
    width: 700px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    margin-right: 100px;
    
}

nav{
    width: 70px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: rgb(138, 11, 58);
    position: fixed;
    box-shadow: 5px 7px 10px rgb(0, 0, 0);
    height: 500px;
    margin-top: 70px;
}

nav ul{
    position: relative;
    list-style-type: none;
}

nav ul li a{
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(255, 143, 7);
    padding: 40px 10px;
    
    height: 50px;
    transition: .1s ease;
    border-radius: 0 30px;
}

nav ul li a:hover{
    background: rgb(255, 0, 0);
}

nav ul ul{
    position: absolute;
    left: 70px;
    width: 200px;
    top: 0;
    display: none;
    background: rgb(114, 3, 134);
    border-top-right-radius: 30px;
    box-shadow: 2px 2px 10px rgba(255, 6, 89, 0.74);
}

nav ul .dropdown{
    position: relative;

}

nav ul .dropdown:hover ul{
    display: initial;
}

nav ul .dropdown-two{
    position: relative;
}

nav ul .dropdown-two:hover ul{
    display: initial;
}

nav ul .dropdown-three{
    position: relative;
}

nav ul .dropdown-three:hover ul{
    display: initial;
}

nav ul .dropdown-four{
    position: relative;
}

nav ul .dropdown-four:hover ul{
    display: initial;
}

nav ul .dropdown-five{
    position: relative;
}

nav ul .dropdown-five:hover ul{
    display: initial;
}

.laa{
    margin-left: 200px;
}
